variable "resource_group_name" {
  type    = string
  default = "{{ resource_group_name }}"
}
variable "location" {
  type    = string
  default = "{{ location }}"
}
variable "name" {
  type    = string
  default = "{{ name }}"
}
variable "display_name" {
  type    = string
  default = "{{ display_name }}"
}
variable "cloud_exadata_infrastructure_id" {
  type    = string
  default = "{{ cloud_exadata_infrastructure_id }}"
}
variable "subnet_id" {
  type    = string
  default = "{{ subnet_id }}"
}
variable "vnet_id" {
  type    = string
  default = "{{ vnet_id }}"
}
variable "hostname" {
  type    = string
  default = "{{ hostname }}"
}
variable "cpu_core_count" {
  type    = number
  default = {{ cpu_core_count }}
}
variable "data_storage_size_in_tbs" {
  type    = number
  default = {{ data_storage_size_in_tbs }}
}
variable "db_node_storage_size_in_gbs" {
  type    = number
  default = {{ db_node_storage_size_in_gbs }}
}
variable "memory_size_in_gbs" {
  type    = number
  default = {{ memory_size_in_gbs }}
}
variable "ssh_public_keys" {
  type    = list(string)
  default = {{ ssh_public_keys_tf }}
}
variable "gi_version" {
  type    = string
  default = "{{ gi_version }}"
}
variable "license_model" {
  type    = string
  default = "{{ license_model }}"
}
variable "cluster_name" {
  type    = string
  default = "{{ cluster_name }}"
}
variable "domain" {
  type    = string
  default = "{{ domain }}"
}
variable "backup_subnet_cidr" {
  type    = string
  default = "{{ backup_subnet_cidr }}"
}
variable "data_storage_percentage" {
  type    = number
  default = {{ data_storage_percentage }}
}
variable "is_local_backup_enabled" {
  type    = bool
  default = {{ is_local_backup_enabled }}
}
variable "is_sparse_diskgroup_enabled" {
  type    = bool
  default = {{ is_sparse_diskgroup_enabled }}
}
variable "time_zone" {
  type    = string
  default = "{{ time_zone }}"
}
variable "scan_listener_port_tcp" {
  type    = number
  default = {{ scan_listener_port_tcp }}
}
variable "scan_listener_port_tcp_ssl" {
  type    = number
  default = {{ scan_listener_port_tcp_ssl }}
}
variable "db_servers" {
  type    = list(string)
  default = {{ db_servers_tf }}
}
variable "dco_diagnostics_events_enabled" {
  type    = bool
  default = {{ dco_diagnostics_events_enabled }}
}
variable "dco_health_monitoring_enabled" {
  type    = bool
  default = {{ dco_health_monitoring_enabled }}
}
variable "dco_incident_logs_enabled" {
  type    = bool
  default = {{ dco_incident_logs_enabled }}
}
variable "tags" {
  type    = map(string)
  default = {}
}
