# modules/{{ module_name }}/outputs.tf

output "odb_network_id"   { value = google_oracle_database_odb_network.this.odb_network_id }
output "odb_network_name" { value = google_oracle_database_odb_network.this.name }
output "state"            { value = google_oracle_database_odb_network.this.state }
output "create_time"      { value = google_oracle_database_odb_network.this.create_time }
output "entitlement_id"   { value = google_oracle_database_odb_network.this.entitlement_id }
