# modules/{{ module_name }}/outputs.tf
output "cdb_id"     { description = "OCID of the Container Database."; value = oci_database_database.this.id }
output "db_name"    { description = "Name of the Container Database."; value = oci_database_database.this.database[0].db_name }
output "db_home_id" { description = "OCID of the parent DB Home.";     value = oci_database_database.this.db_home_id }
