# modules/{{ module_name }}/terraform.tfvars
# vm_cluster_ocid is auto-wired from module.{{ vmcluster_ref }}.ocid in root main.tf.
display_name = "{{ display_name }}"
db_version   = "{{ db_version }}"
