# modules/{{ module_name }}/outputs.tf

output "odb_subnet_id"   { value = google_oracle_database_odb_subnet.this.odb_subnet_id }
output "odb_subnet_name" { value = google_oracle_database_odb_subnet.this.name }
output "state"           { value = google_oracle_database_odb_subnet.this.state }
output "create_time"     { value = google_oracle_database_odb_subnet.this.create_time }
