variable "resource_group_name" {
  type    = string
  default = "{{ resource_group_name }}"
}
variable "location" {
  type    = string
  default = "{{ location }}"
}
variable "name" {
  type    = string
  default = "{{ name }}"
}
variable "display_name" {
  type    = string
  default = "{{ display_name }}"
}
variable "shape" {
  type    = string
  default = "{{ shape }}"
}
variable "compute_count" {
  type    = number
  default = {{ compute_count }}
}
variable "storage_count" {
  type    = number
  default = {{ storage_count }}
}
variable "zone" {
  type    = string
  default = "{{ zone }}"
}
variable "mw_preference" {
  type    = string
  default = "{{ mw_preference }}"
}
variable "mw_patching_mode" {
  type    = string
  default = "{{ mw_patching_mode }}"
}
variable "mw_lead_time_in_weeks" {
  type    = number
  default = {{ mw_lead_time_in_weeks }}
}
variable "tags" {
  type    = map(string)
  default = {}
}
